*.o
*.d
*.so
*.sw?
tags
cscope*
*.pcap
.DS_Store
# /
/cfg.tab.c
/cfg.tab.h
/lex.yy.c
/opensips
/debian
/curses.out
/.svnrevision
/.gitrevision
/*.log*
output

# /doc/
/doc/database

# /menuconfig/
/menuconfig/configure
#Makefile.conf
/mem/mem_stats.c
/mem/mem_stats.h

# miscellaneous files
core
core.*
out
log
*.log
*.html
.vscode

keepalive_state
etc/opensips_run.cfg
opensips-db
